
{% extends _isXmlHttpRequest ? "ajax-base.html.twig" : "irisreferencing-base.html.twig" %}

{% block breadcrumbs %}{% endblock %}

{% block body %}

    <h2>You are not permitted start a new reference</h2>

    <p>
        If you think there may be a problem here then
        please <a href="http://homelet.co.uk/letting-agents/contact-us" target="_blank">contact us for more information</a>.
    </p>

{% endblock %}