{% extends "iris-referee/generic-step.html.twig" %}

{% block personalisation %}
    <li class="company">Pension provider name: <strong>{{ pensionProviderName }}</strong></li>
    <li>Name: <strong>{{ applicantName }}</strong></li>
    <li>HomeLet reference number: <strong>{{ applicationReferenceNumber }}</strong></li>
{% endblock %}