
{% extends _isXmlHttpRequest ? "ajax-base.html.twig" : "rent-guarantee-base.html.twig" %}

{% block breadcrumbs %}
    <ul id="connect_breadcrumb">
        <li class="home"><a href="/">Connect</a></li>
        <li class="last"><a href="/rentguarantee">Rent Guarantee &amp; Eviction Services</a></li>
        <li class="current_page">Rent Recovery Plus Mid-Term Adjustments</li>
    </ul>
{% endblock %}

{% block body %}

    <form action="/rentguarantee/rent-recovery-plus-mta-confirmation" method="post">
        <div class="content">
            <p>
                Thank you for requesting this amend to your RRP policy.
                {{ paymentDetails }}
                Please confirm that you are happy to proceed
                <input type="hidden" name="policyNumber" id="policyNumber" value="{{ policyNumber }}">
                <input type="hidden" name="mtaID" id="mtaID" value="{{ mtaID }}">
            </p>
        </div>
        <div class="application-options">
            <button type="submit" class="button">Accept Changes</button>
            <button type="button" onClick="javascript:history.back()" class="button">Back</button>
        </div>
    </form>

{% endblock %}

