{% extends _isXmlHttpRequest ? "ajax-base.html.twig" : "rent-guarantee-base.html.twig" %}

{% block breadcrumbs %}
    <ul id="connect_breadcrumb">
        <li class="home"><a href="/">Connect</a></li>
        <li class="last"><a href="/rentguarantee">Rent Guarantee &amp; Eviction Services</a></li>
        <li class="current_page">Rent Recovery Plus Information</li>
    </ul>
{% endblock %}

{% block body %}
    <p>Thanks for your interest in HomeLet&rsquo;s Rent Recovery Plus product.</p>
    <p>Some of the benefits of RRP include:</p>
    <ul>
        <li>100% of the monthly rent paid for, up to a maximum of six months from the date of the first arrears</li>
        <li>Breach of tenancy by the tenant, including non-payment of rent and expired section 21 notices</li>
        <li>Legal expenses up to &pound;50,000 for the eviction of a tenant, where they are in breach of their tenancy agreement</li>
        <li>50% of the rental amount paid for, up to 2 months, once vacant possession has been obtained and new tenants are sought</li>
    </ul>
    <p>Please contact your Account Manager if you’d like to arrange training or have any questions.</p>
{% endblock %}