
{% block breadcrumbs %}
    <ul id="connect_breadcrumb">
        <li class="home last"><a href="/">Connect</a></li>
        <li class="current_page">Rent Guarantee &amp; Eviction Services</li>
    </ul>
{% endblock %}

<div class="wrapper one-col">
    <div class="content">
        {% block body %}{% endblock %}
    </div>
</div>
