<div class="single-guarantor">
    {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Guarantor Details</h4>
            </div>
            <div class="panel-body">
            {{ form_widget(form) }}
            </div>
        </div>

        <input class="btn btn-default btn-next" type="submit" value="Next" />
    {{ form_end(form) }}
</div>