{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumb">
            <a href="/tenants">Tenants</a> &raquo; Reference Tracker
        </div>
    </div>
{% endblock %}

{% block body %}{% endblock %}