<p>
    <strong>
        Please ensure your applicant(s) have signed this declaration and consent form and you have
        a copy on file.
    </strong>
</p>

<p>
    By completing this form, you have agreed to act as a Guarantor for the tenant named within this form. The tenant&rsquo;s
    reference is being completed by HomeLet on behalf of their letting agent. HomeLet is part of the Barbon Insurance
    Group Limited and for the purposes of this application, Barbon is the Data Controller as defined in the Data Protection
    Act 1998 (the &ldquo;Act&rdquo;).
</p>

<p>
    In order to complete this application, HomeLet will consult with a number of sources to verify the information,
    including a licensed credit reference agency. As a result of the information received:
</p>

<ul>
    <li>
        HomeLet may pass on any information supplied to the landlord and/or letting agent, including the results
        of any linked verification checks.
    </li>

    <li>
        By consulting with a credit reference agency, HomeLet will share your information with them and the agency may
        record the results of this search. This search may show how you conduct payments with other organisations.
        From time to time, this information may also be used for debt tracing and fraud prevention. You may request
        the name and address of the Credit Reference agency HomeLet use and you may also apply for a copy of the
        information they provided to HomeLet.
    </li>

    <li>
        If you default in respect of any covenants you have given as guarantor (including the payment of rent on behalf
        of the tenant when the tenant has failed to pay their rent), HomeLet may record this on a centrally held database
        of defaulting debtors, and such a default could affect any future application for tenancies, credit, and/or insurance.
    </li>

    <li>
        HomeLet may use debt collection agencies or tracing agents to trace your whereabouts and recover any monies
        owed to HomeLet.
    </li>

    <li>
        If false or inaccurate information is provided and fraud is identified, details will be passed to fraud
        prevention agencies to prevent fraud and money laundering.
    </li>
</ul>

<p>
    Information may be sent to you and your nominated referees by email. This information will only be sufficient
    enough to identify you and it won&rsquo;t be excessive; however you should be aware that information sent via electronic
    means can&rsquo;t be guaranteed to be secure.
</p>
