{% extends 'whitelabel-base.html.twig' %}

{% block body %}
    <main class="container framework-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                Issue With Payment
            </div>
            <div class="panel-body">
                <p>There has been a failure with our payment system. Please call 0845 117 6000 and select option 5 for further assistance.</p>
            </div>
        </div>
    </main>
{% endblock %}