{# todo: This style needs moving into the common stylesheet. #}
<style>
    ol {
        counter-reset: item;
    }
    ol li {
        display: block;
        position: relative;
    }
    ol li:before {
        content: counters(item, ".")".";
        counter-increment: item;
        position: absolute;
        margin-right: 100%;
        right: 10px; /* space between number and text */
    }
</style>

<article>

    <header>
        <h4>Referencing Terms and Conditions</h4>

        <nav>
            <h5>Contents</h5>

            <ol>
                <li><a href="#terms-interpretation-and-definitions">Interpretation and Definitions</a></li>
                <li><a href="#terms-commencement-and-term">Commencement and Term</a></li>
                <li><a href="#terms-scope">Scope</a></li>
                <li><a href="#terms-recitals-and-relationship">Recitals and Relationship</a></li>
                <li><a href="#terms-your-obligations">Your Obligations</a></li>
                <li><a href="#terms-our-obligations">Our Obligations</a></li>
                <li><a href="#terms-costs-and-payments">Costs and Payments</a></li>
                <li><a href="#terms-confidentiality">Confidentiality</a></li>
                <li><a href="#terms-termination">Termination</a></li>
                <li><a href="#terms-consequences-of-termination">Consequences of Termination</a></li>
                <li><a href="#terms-data-protection-and-security">Data Protection and Security</a></li>
                <li><a href="#terms-governing-law-and-jurisdiction">Governing Law and Jurisdiction</a></li>
                <li><a href="#terms-client-contact">Client Contact</a></li>
                <li><a href="#terms-indemnity">Indemnity</a></li>
                <li><a href="#terms-limitation-of-liability">Limitation of Liability</a></li>
                <li><a href="#terms-copyright-advertising-and-marketing">Copyright, Advertising and Marketing</a></li>
                <li><a href="#terms-rights-of-third-parties">Rights of Third Parties</a></li>
                <li><a href="#terms-enforceability">Enforceability</a></li>
                <li><a href="#terms-general-interpretation-of-this-agreement">General Interpretation of this Agreement</a></li>
                <li><a href="#terms-force-majeure">Force Majeure</a></li>
                <li><a href="#terms-entire-agreement">Entire Agreement</a></li>
            </ol>
        </nav>
    </header>

    <section>
        <h4>REFERENCING ONLY TERMS OF BUSINESS AGREEMENT</h4>

        <p>This <em>Agreement</em> is entered into between the following parties:</p>

        <p>HomeLet which is a trading name of Barbon Insurance Group Limited, whose registered address is Hestia House, Edgewest Road, Lincoln, LN6 7EL, Registered in England under number 03135797.</p>

        <p>And</p>

        <p>
            The party reading this <em>Agreement</em><br />
            (Hereinafter referred to as the &ldquo;<em>Landlord</em>&rdquo;)
        </p>
    </section>

    <section>
    <ol>
        <li id="terms-interpretation-and-definitions">

            <h4>Interpretation and Definitions</h4>

            <ol>
                <li>
                    <p>Within this <em>Agreement</em>, unless otherwise stated, the following words or expressions shall have the meaning set against them:</p>

                    <p><em><strong>We</strong></em>, <em><strong>Us</strong></em> and <em><strong>Our</strong></em> refers to HomeLet a trading name of Barbon Insurance Group Limited</p>

                    <p><em><strong>You</strong></em> and <em><strong>Your</strong></em> refers to the <em>Landlord</em> reading this <em>Agreement</em>.</p>

                    <p>Together <em><strong>We</strong></em> and <em><strong>You</strong></em> are referred to as <em><strong>Both Parties</strong></em> or <em><strong>Us Both</strong></em>.</p>

                    <p><em><strong>Agreement</strong></em> refers to these terms and conditions of use agreement and any attached schedules and special conditions. Use of the <em>Service</em> is deemed as <em>Your</em> acceptance of this <em>Agreement</em>.</p>

                    <p><em><strong>Applicant</strong></em> means a person or entity who have applied to let a residential property or act as a guarantor for someone applying to let a residential property and have agreed to the use of their data for the purposes of providing the <em>Service</em>.</p>

                    <p><em><strong>Improper performance</strong></em> means performance of a function or activity in breach of a relevant expectation i.e. that the function or activity should be performed in good faith, impartially, or by a person in a position of trust.</p>

                    <p><em><strong>Price</strong></em> means the costs of the <em>Service</em> including any applicable fees or surcharges as agreed with <em>Us</em>.  The <em>Price</em> does not include any applicable taxes that may also require to be charged in accordance with current legislation.</p>

                    <p><em><strong>Relevant function or activity</strong></em> means any public function, and any business or employment activity, whether within or outside the UK.</p>

                    <p><em><strong>Service</strong></em> means the provision of referencing services for residential letting purposes, which includes but is not limited to financial, employment, identity, linked address, County Court Judgements, bankruptcy, insolvency and previous landlord checks on prospective tenants, companies and guarantors as instructed by <em>You</em> dependent on the specific service <em>You</em> select.</p>
                </li>
            </ol>
        </li>

        <li id="terms-commencement-and-term">

            <h4>Commencement and Term</h4>

            <ol>
                <li>This <em>Agreement</em> comes into effect once issued by <em>Us</em> and when <em>You</em> commence using the <em>Service</em>, and shall remain in force for use of the <em>Service</em> or unless cancelled in accordance with the section 9.</li>
            </ol>
        </li>

        <li id="terms-scope">

            <h4>Scope</h4>

            <ol>
                <li><em>Both Parties</em> agree that the terms of this <em>Agreement</em> will apply to and govern any and all dealings between <em>Both Parties</em>.</li>
            </ol>
        </li>

        <li id="terms-recitals-and-relationship">

            <h4>Recitals and Relationship</h4>

            <ol>
                <li><em>We</em> only engage in referencing for the residential lettings market as defined by the <em>Service</em>.</li>

                <li><em>You</em> wish to use the <em>Service</em> in accordance with the terms and conditions of this <em>Agreement</em>.</li>

                <li><em>We</em> hereby permit <em>You</em> to use the <em>Service</em> in accordance with the terms and conditions of this <em>Agreement</em>.</li>

                <li>Nothing in this <em>Agreement</em> shall be construed as creating any partnership or joint venture between <em>Us Both</em> nor the relationship of employer and employee.</li>

                <li>Neither <em>You</em> nor <em>Us</em> shall represent that it or its employees are in partnership with or an employee of
the other.</li>

                <li><em>Both Parties</em> undertake to act in good faith and with all due care, skill and diligence and in accordance with any regulatory and legal requirements.</li>

                <li><em>Both Parties</em> agree to notify the other of any changes in circumstances which may affect their ability to meet their obligations under this <em>Agreement</em>.</li>
            </ol>
        </li>

        <li id="terms-your-obligations">

            <h4>Your Obligations</h4>

            <ol>
                <li>
                    <em>You</em> shall ensure that:
                    <ol>
                        <li>the <em>Applicant</em> is aware that their personal data will be used to allow <em>Us</em> to undertake the <em>Service</em> and have provided their consent for <em>Us</em> to do this.</li>
                        <li>the <em>Applicant</em> has had the opportunity to review <em>Our</em> Fair Processing Notice and is happy for their data to be used in such a manner prior to <em>You</em> submitting a request for <em>Us</em> to undertake the <em>Service</em>.</li>
                        <li>all information provided to <em>Us</em> has been obtained directly from the <em>Applicant</em> and has not been altered in any way.</li>
                        <li>all requested information about an <em>Applicant</em> is provided to <em>Us</em> at the time of <em>You</em> submitting a request for <em>Us</em> to undertake the <em>Service</em>.</li>
                    </ol>
                </li>

                <li><em>You</em> shall use the <em>Service</em> solely for the purpose of assessing <em>Applicants</em> as to their suitability to rent a residential property and for no other purpose.</li>

                <li><em>You</em> shall not rent, lease, sub-licence, loan, copy, modify, adapt, merge, translate, disassemble, or create derivative works based on the whole or any part of the <em>Service</em> without <em>Our</em> express written permission.</li>

                <li><em>You</em> shall not produce, alter or amend any forms, references, reports or documentation provided to <em>You</em> in performance of the <em>Service</em> without express prior permission from <em>Us</em> in writing.</li>

                <li><em>You</em> accept responsibility for any regulatory and other applicable legal requirements in respect of <em>Your</em> dealings with any <em>Applicant</em> together with all responsibility for any consequence whatsoever that is brought about by the failure of <em>You</em> to abide by the terms and conditions of this <em>Agreement</em> or for any acts of error, omission or negligence.</li>

                <li><em>You</em> shall comply with all applicable law, regulations, codes and sanctions.</li>

                <li>
                    <em>Both Parties</em> agree that Bribery, as defined under the Bribery Act 2010, is prohibited.  <em>You</em> shall therefore;
                    <ol>
                        <li>Not offer or provide a financial or other advantage to another person, where the advantage is intended to induce a person to perform improperly a <em>relevant function or activity</em> or reward them for that <em>improper performance</em>.</li>
                        <li>Not request or accept a financial or other advantage, with the intention that, as a consequence, a <em>relevant function or activity</em> should be performed improperly</li>
                        <li>Not offer or provide a financial  or other advantage to a foreign official with the intention of obtaining or retaining business or an advantage in the conduct of business.</li>
                        <li>Have in place adequate procedures designed to prevent associated persons from committing bribery offences.</li>
                    </ol>
                </li>

                <li><em>You</em> shall not to do or omit to do anything which may bring <em>You</em> or <em>Us</em> into disrepute.</li>

                <li><em>You</em> shall co-operate fully in the investigation and resolution of any complaints from the <em>Applicant</em>.</li>

                <li>
                    <em>You</em> shall notify <em>Us</em> immediately on occurrence of:-
                    <ol>
                        <li>the suspected or committed fraud against <em>You</em> by any person;</li>
                        <li>any planning of the winding up of <em>You</em>, or <em>Your</em> insolvency or bankruptcy;</li>
                    </ol>
                </li>

                <li>
                    <em>You</em> represent and warrant to <em>Us</em> that prior to the date of this <em>Agreement</em> and thereafter during the continuation of the <em>Agreement</em>:
                    <ol>
                        <li><em>You</em> have full power and authority to enter into this <em>Agreement</em>;</li>
                        <li><em>You</em> are solvent.</li>
                        <li><em>You</em> are correctly registered with the Information Commissioners Office as required by the Data Protection Act 1998.</li>
                    </ol>
                </li>

                <li><em>You</em> shall observe and comply with such policies, requests, directions and instructions as <em>We</em> may lawfully and reasonably confer and impose on <em>You</em>.</li>

            </ol>
        </li>

        <li id="terms-our-obligations">

            <h4>Our Obligations</h4>

            <ol>
                <li>To provide <em>You</em> with a report detailing <em>Our</em> recommendation as to the suitability of the <em>Applicant</em> based on the information provided to <em>Us</em> and the outcome of checks conducted by <em>Us</em> using external parties.  In circumstances where <em>We</em> are unable to provide a full report, <em>We</em> will contact <em>You</em> to advise of the reasons why.</li>
            </ol>
        </li>

        <li id="terms-costs-and-payments">

            <h4>Costs and Payments</h4>

            <ol>
                <li><em>You</em> shall pay <em>Us</em> for the <em>Service</em>, which are requested by <em>You</em> and accepted by <em>Us</em>, at the agreed <em>Price</em> (together with applicable taxes, if any).</li>
            </ol>
        </li>

        <li id="terms-confidentiality">

            <h4>Confidentiality</h4>

            <ol>
                <li><em>Both Parties</em> shall treat any information relating to the other party and its business as confidential, except as may be necessary to fulfil their respective obligations in the conduct of the <em>Service</em> and except as may be required by law or regulatory authority.</li>

                <li>This clause will not apply to information which was rightfully in the possession of such party prior to this <em>Agreement</em>, which is already public knowledge or becomes so at a future date (otherwise than as a result of a breach of this clause) or which is trivial or obvious.</li>

                <li>The provisions of this clause 8 shall continue to apply notwithstanding termination of this <em>Agreement</em>.</li>
            </ol>
        </li>

        <li id="terms-termination">

            <h4>Termination</h4>

            <ol>
                <li>
                    This <em>Agreement</em> may be terminated immediately on notice where:
                    <ol>
                        <li>the other shall become insolvent, or enter into receivership, liquidation, provisional liquidation or
voluntary arrangement with its creditors;</li>
                        <li><em>We</em> become aware of any breach of sections 5.7, 5.8 and 8 of this <em>Agreement</em>;</li>
                        <li><em>We</em> are reasonably of the view that <em>You</em> are no longer of good repute.</li>
                    </ol>
                </li>
            </ol>
        </li>

        <li id="terms-consequences-of-termination">

            <h4>Consequences of Termination</h4>

            <ol>
                <li>Termination of this <em>Agreement</em> shall not in any circumstances give rise to a claim for compensation by <em>You</em>.</li>
            </ol>
        </li>

        <li id="terms-data-protection-and-security">

            <h4>Data Protection and Security</h4>

            <ol>
                <li><em>Both Parties</em> shall duly observe all the requirements of the Data Protection Act 1998 as amended from time to time and the Privacy and Electronic Communications (EC Directive) Regulations 2003 as amended from time to time.</li>

                <li><em>Both Parties</em> shall take reasonable care to ensure that effective systems and controls are in place to manage risks relating to the security of confidential customer information.</li>

                <li>For the purposes of providing the <em>Service</em>, <em>We</em> are The Data Controller and <em>You</em> are a Data Processor as defined in the Data Protection Act 1998.</li>
            </ol>
        </li>

        <li id="terms-governing-law-and-jurisdiction">

            <h4>Governing Law and Jurisdiction</h4>

            <ol>
                <li>The construction, validity and performance of this <em>Agreement</em> shall be governed in all respects by English Law and any proceedings arising out of or connected with this <em>Agreement</em> shall be subject to the exclusive jurisdiction of the English Courts.</li>
            </ol>
        </li>

        <li id="terms-client-contact">

            <h4>Client Contact</h4>

            <ol>
                <li><em>We</em> shall be free to deal directly with the <em>Applicant</em>, provided that <em>We</em> have obtained the necessary contact permissions from them. <em>You</em> shall not be entitled to any remuneration in circumstances where <em>We</em> subsequently sell other products and/or services to such an <em>Applicant</em> unless separately agreed in writing between <em>Both Parties</em>.</li>
            </ol>
        </li>

        <li id="terms-indemnity">

            <h4>Indemnity</h4>

            <ol>
                <li>
                    <em>You</em> shall indemnify <em>Us</em>, keep <em>Us</em> indemnified and hold <em>Us</em> harmless against any liability, claims, loss, damage,  costs and expenditure incurred in respect of, arising out of or otherwise connected with:
                    <ol>
                        <li>any failure by <em>You</em> to observe any of <em>Your</em> obligations contained in this <em>Agreement</em>;</li>
                        <li><em>Your</em> misrepresentation, negligence, dishonesty, misconduct or fraud or that of <em>Your</em> employees or representatives.</li>
                    </ol>
                </li>
            </ol>
        </li>

        <li id="terms-limitation-of-liability">

            <h4>Limitation of Liability</h4>

            <ol>
                <li><em>You</em> acknowledge and agree that the <em>Service</em> is provided by <em>Us</em> to <em>You</em> on an "as is" basis and <em>We</em> give no warranty as to the accuracy of the <em>Service</em>.</li>

                <li>
                    <em>You</em> acknowledge and agree that:
                    <ol>
                        <li>shall not be liable for the acts or omissions of information provided by <em>Our</em> third party service providers in providing the <em>Service</em>;</li>
                        <li><em>We</em> shall not be liable whatsoever for any losses (whether direct, indirect or consequential) occasioned by <em>Your</em> system account security being compromised unless <em>We</em> have failed to maintain adequate data security controls.</li>
                        <li><em>Our</em> maximum aggregate liability under and/or in connection with this <em>Agreement</em> in contract, tort (including negligence) for all acts and omissions of <em>Us</em> and <em>Our</em> employees, agents and contractors shall be limited to <em>Your</em> direct losses and shall in no event exceed the Price paid by <em>You</em> to <em>Us</em> under this <em>Agreement</em> in the 12 months before the claim arose;</li>
                        <li>Neither party shall be liable to the other under this <em>Agreement</em> for any special, indirect, economic or consequential loss or loss of profits; and</li>
                        <li>Neither party excludes its liability to the other under this <em>Agreement</em> for death or personal injury resulting from its negligence or damage or loss incurred by the other as a result of its fraud and any other loss that cannot be excluded by law.</li>
                    </ol>
                </li>
            </ol>
        </li>

        <li id="terms-copyright-advertising-and-marketing">

            <h4>Copyright, Advertising and Marketing</h4>

            <ol>
                <li>Nothing in this <em>Agreement</em> shall assign, transfer or vest in either party any intellectual property right
owned by the other party.</li>

                <li>Neither party shall use a trade name or trade mark, logo or similar of the other without the other&rsquo;s express prior written consent.</li>

                <li>Any use of <em>Our</em> name or description of the <em>Service</em> in any literature, website, communication or press release shall only be permitted with <em>Our</em> express prior written approval.</li>
            </ol>
        </li>

        <li id="terms-rights-of-third-parties">

            <h4>Rights of Third Parties</h4>

            <ol>
                <li>A person who is not party to this <em>Agreement</em> has no rights under the Contracts (Rights of Third Parties) Act 1999 to enforce any terms of this <em>Agreement</em> but this does not affect any right or remedy of a third party which exists or is available apart from that act.</li>
            </ol>
        </li>

        <li id="terms-enforceability">

            <h4>Enforceability</h4>

            <ol>
                <li>In case any one or more of the provisions contained in this <em>Agreement</em> shall, for any reason, be held to be unenforceable, such provision or provisions shall be ineffective only to the extent of such unenforceability, without invalidating the remainder of such provision or provisions of this <em>Agreement</em>. This <em>Agreement</em> shall be construed as if such invalid, illegal or unenforceable provision or provisions had never been contained herein, unless such a construction would be unreasonable.</li>
            </ol>
        </li>

        <li id="terms-general-interpretation-of-this-agreement">

            <h4>General Interpretation of this Agreement</h4>

            <ol>
                <li>In this <em>Agreement</em>, words importing the singular shall include the plural and vice versa. Headings are included for ease of reference and convenience only and shall not affect the interpretation of this <em>Agreement</em>.</li>
            </ol>
        </li>

        <li id="terms-force-majeure">

            <h4>Force Majeure</h4>

            <ol>
                <li>Neither party shall be liable for any delay or non-performance of its obligations under this <em>Agreement</em> caused by an event beyond its control (a &ldquo;<em>Force Majeure Event</em>&rdquo;) provided that the party affected gives prompt notice in writing to the other party of such <em>Force Majeure Event</em> and uses all reasonable endeavours to continue to perform its obligations under this <em>Agreement</em>.</li>
            </ol>
        </li>

        <li id="terms-entire-agreement">

            <h4>Entire Agreement</h4>

            <ol>
                <li>This <em>Agreement</em> sets out the entire agreement between <em>Us Both</em> in connection with the subject matter referred to in it and supersedes all prior discussions, statements, representations, terms and conditions, proposals, communications and understandings whenever given and whether orally or in writing.</li>
            </ol>
        </li>

    </ol>
</article>