
{% extends "iristat-base.html.twig" %}

{% if formTheme %}
    {% form_theme form formTheme %}
{% endif %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumb">
            <a href="/tenants">For Tenants</a> &raquo; <a href="/tenant-application-tracker">Reference Tracker</a> &raquo; View Your Emails
        </div>
    </div>
{% endblock %}

{% block body %}

    {% if form %}
        <form method="post">
            {{ form_widget(form) }}
        </form>
    {% endif %}

{% endblock %}