{% extends 'error-base.html.twig' %}

{% block errorTitle %}Whoops!  Authentication Failed{% endblock %}

{% block errorContent %}
    <p>
        Something went wrong, you don&rsquo;t seem to be logged in.
    </p>
{% endblock %}